/* navbar  */

/* #navBarSearchForm input[type=text]{width:430px !important;} */

@media (max-width: 450px) {
  .dis {
    display: none;
  }
}

.nav-background {
  /* background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important; */
  background-image: linear-gradient(
    135deg,
    #2a65ea 0%,
    #2a65ea 69%,
    #2a65ea 89%
  ) !important;
}

.badge-toggler {
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 8px !important;
  margin-left: -2px;
}

/* end of navbar */
