.user-detailed-margin {
  margin-top: 120px;
}

.user-detailed-profile-pic {
  object-fit: cover;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 4px;
  margin-bottom: 10px !important;
}
