/* listing form images */
.img-listing-form {
  width: 90px;
  object-fit: cover;
  height: 90px;
}

.dropzone {
  border: 2px dashed grey;
  width: 100%;
  height: 100%;
}

.dropzone:hover {
  cursor: pointer;
}

.dropzone-loading {
  border: 2px dashed grey;
  width: 100%;
  height: 88px;
}

.margin-custom {
  margin: 4px;
}
/* end of listing form images */
.listing-form-label {
  position: relative;
  display: inline-block;
  width: 90%;
}

.listing-form-span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.4s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}

.listing-form-input {
  padding: 10px;
  /* 600 */
  width: 100%;
  /* border: none; */
  border: 2px solid grey;
  background-color: #ebeeef;
  margin-bottom: 4px;
  border-radius: 0%;
}

.listing-form-input:focus {
  border: 2px solid royalblue !important;
  box-shadow: none;
  background-color: #ebeeef;
}

@media (max-width: 768px) {
  .listing-form-input {
    padding: 10px;
    /* width: 350px; */
    width: 100%;
  }
  .listing-form-label {
    width: 100%;
  }

  .listing-form-select {
    width: 100% !important;
  }
}

.listing-form-select {
  width: 90%;
  border: 2px solid grey;
  background-color: #ebeeef;
  margin-bottom: 4px;
  border-radius: 0%;
}

.listing-form-select:focus {
  border: 2px solid royalblue !important;
  box-shadow: none;
  background-color: #ebeeef;
}

input:focus + span,
input:not(:placeholder-shown) + span {
  opacity: 1;
  /* color: #2a65ea; */

  font-weight: bold;
  transform: scale(0.75) translateY(-100%) translateX(-20px);
}

textarea:focus + span,
textarea:not(:placeholder-shown) + span {
  opacity: 1;

  font-weight: bold;
  transform: scale(0.75) translateY(-100%) translateX(-20px);
}

/* For IE Browsers*/
input:focus + span,
input:not(:-ms-input-placeholder) + span {
  opacity: 1;
  color: #2a65ea;
  font-weight: bold;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

.listing-form-profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 4px;
}

.character-length {
  margin-bottom: 0px;
  font-size: 12px;
}

/* toggle  */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: translateY(60%);
  margin-left: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2a65ea;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2a65ea;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of toggle */
