.listing-form-label {
  position: relative;
  display: inline-block;
}

.listing-form-span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.4s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}

.listing-form-input {
  padding: 10px;
  width: 600px;
  border: none;
  border-bottom: 2px solid grey;
  background-color: #ebeeef;
}

.listing-form-input:focus {
  border-bottom: 2px solid royalblue !important;
  box-shadow: none;
  background-color: #ebeeef;
}

@media (max-width: 768px) {
  .listing-form-input {
    padding: 10px;
    width: 350px;
  }
}

input:focus + span,
input:not(:placeholder-shown) + span {
  opacity: 1;
  color: royalblue;
  font-weight: bold;
  transform: scale(0.75) translateY(-100%) translateX(-20px);
}

/* For IE Browsers*/
input:focus + span,
input:not(:-ms-input-placeholder) + span {
  opacity: 1;
  color: royalblue;
  font-weight: bold;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
