.badge {
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: -10px !important;
}

.messages {
  position: relative;
}

.badge {
  margin-left: -4px;
}

.img-profile {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .hide-visibility-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-visibility-lg {
    display: none;
  }
}
