.badge {
  color: #f44336;
  /* background: #f44336; */
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  /* padding: 4px 6px 0; */
  min-height: 18px;
  top: -10px !important;
  margin-left: -10px;
}

.messages {
  position: relative;
}

.img-profile {
  width: 40px;
  height: 40px;
}

.signedInList:hover {
  background-color: #2a65ea;
  color: white;
}

@media (max-width: 768px) {
  .hide-visibility-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-visibility-lg {
    display: none;
  }
}
