.listing-detailed-margin {
  margin-top: 120px;
}

.listing-detailed-img {
  width: 700px;
  height: 400px;
  object-fit: scale-down;
  padding: 4px;
}

.listing-detailed-img-holder {
  border: 1px solid rgb(190, 190, 190) !important;
  /* border-bottom: none !important; */
}

.listing-detailed-thumbnails {
  width: 90px;
  height: 90px;
  object-fit: scale-down;
}

.listing-detailed-thumbnails :hover {
  cursor: pointer;
}

@media (max-width: 610px) {
  .listing-detailed-margin {
    margin-top: 150px;
  }

  .listing-detailed-thumbnails {
    width: 70px;
    height: 70px;
    object-fit: scale-down;
  }
}

.indicator-color {
  background-color: #2a65ea !important;
}

.profile-pic {
  object-fit: cover;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 4px;
  margin-bottom: 10px !important;
}

.checked {
  color: orange;
}

.m {
  margin-top: 40px !important;
}

.chat-button-fixed {
  padding: 10px 20px;
  border-radius: 0% !important;
  border-right-color: white;
}

.call-button-fixed {
  padding: 10px 20px;
  border-radius: 0% !important;
}

#action-buttons {
  position: fixed;
  bottom: -4px;
  z-index: 1;
  left: 0px;
}

@media (min-width: 768px) {
  .hide-fixed-buttons {
    display: none !important;
  }
}

.blank-div {
  width: 100%;
  height: 100px;
}
